

h1,h2,h2
{
line-height:1;
  }
  body
{

  font-family: sherif ;
  max-width: 650px;
margin: 40px auto;
color:#444;
padding: 0 10px;
font-size: 18px;
line-height: 1.6;
box-sizing: content-box;

}

.sanssaut
{
padding:0;

}

<div id="exemple">Pif paf pouf</div>

#exemple

{
   background-color: #ff0;

   color: #0f0;

   font-size: 1.2em;

   text-align: center;

}
